.navbar a {
    font-size: large;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.navbar {
    padding-top: 20px;
}

.navbar a:hover {
    color: burlywood;
}